@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
</head>
    <body data-ws="@routes.Tweets.ws.webSocketURL()">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <form id="queryForm" class="navbar-search pull-left">
                    <input id="twitterQuery" name="twitterQuery" type="text" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>